@using WebProject.Utilities

<div class="file-panel" @onclick="OnPanelClick">
    <div>
        <strong>Идентификатор:</strong> @Group.Id
    </div>
    <div>
        <strong>Дата публикации:</strong> @Group.DateUpload.ToString()
    </div>
</div>

@code {
    // [Parameter]
    // public required string FileId { get; set; }

    // [Parameter]
    // public required string[] FilesNames { get; set; }

    // [Parameter]
    // public required string[] FilesSizes { get; set; }

    // [Parameter]
    // public DateTime DateUpload { get; set; }

    [Parameter]
    public required FilesGroupDTO Group { get; set; }

    [Parameter]
    public EventCallback<FilesGroupDTO> onGroupClicked { get; set; }

    private async Task OnPanelClick()
    {
        await onGroupClicked.InvokeAsync(Group);
    }
}
