<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WebProject.styles.css" />
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <script src="js-interopt.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
</body>

</html>
